<head>
  <style>

    body {
      background-color: brown;
    }

    h1 {
      color: black;
      text-decoration: underline;
    }

    h2 {
      color: yellow;
    }
    p, li {
        font-size: 24px;
        font-family: cursive;
      }
  
      .red {
        color: red;
      }
  
      .blue {
        color: blue;
      }
  
      .green {
        color: green;
      }
  
  </style>
</head>